.container{
    display:flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    height: 100vh;
    width: 90%;
    margin: auto;
}

.titleContainer{
    text-align: left;
    font-size: 1.5rem;
}

.descriptionContainer{
    text-align: justify;
}

.techContainer ul{
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

.techContainer li{
    list-style: none;
    margin: 5px;

}