.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 200px;
}


.introContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.introText {
    text-align: center;
}

.titles {
    font-size: 7rem;
    font-weight: 700;
}

.subtitles {
    font-size: 5rem;
    font-weight: 400;
}