
.menuItem{
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    font-style: normal;
    color: #0a0a0a;
    padding: 10px;
}

.active {
    background-color: #0c0a09;
    color: #fafaf9;
    border-radius: 4px;
}